[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matt/Desktop/Win11_English_x64v1.iso]
row=1
col=0

[/home/matt/Desktop/install-amd64-minimal-20220116T170534Z.iso]
row=0
col=0

[/home/matt/Desktop/nOjkL8eFE8OhIn-S.mp4]
row=2
col=0

[/home/matt/Desktop/Sv11OxJqLnyCsIcb.mp4]
row=3
col=0

[/home/matt/Desktop/IMG_1315.MOV]
row=5
col=0

[/home/matt/Desktop/v09044g40000c684m6bc77u78nknfco0.mp4]
row=2
col=2

[/home/matt/Desktop/SteamOSInstaller.zip]
row=4
col=0

